@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          background: #EAEBEF;
          font-family: 'Poppins', sans-serif;
}

.nav{
          width: 300px;
}

.nav__link{
          color: #303440;
          display: block;
          padding: 15px 0;
          text-decoration: none;
}

.list{
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border-radius: 0 16px 16px 0;
          background: white;
}

.list__item{
          list-style: none;
          width: 100%;
          text-align: center;
          overflow: hidden;
}

.list__item--click{
          cursor: pointer;
}

.list__button{
          display: flex;
          align-items: center;
          gap: 1em;
          width: 70%;
          margin: 0 auto;
}

.list__arrow{
          margin-left: auto;
}